@use '../variables' as *;

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;

  .main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 300;

    .text-1 {
      font-size: 2.3rem;
      color: $white;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .secondary {
      font-size: 1.8rem;
      color: $gray;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

.contact-btn {
  width: fit-content;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .lighthouse-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lighthouse-img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
  }
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 50% 50%;

    .main-left {
      .secondary {
        font-size: 1.7rem;
      }
    }
  }
}

/* 720px /////////////////////////// */

@media (max-width: 720px) {
  .main {
    grid-template-columns: 1fr;
    text-align: center;

    .main-left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .secondary {
        margin: 0rem;
        font-size: 1.5rem;
      }
    }
  }

  .projects-preview {
    margin-top: 5rem;
  }

  .contact-btn {
    margin: 1.5rem auto;
  }
}
