@use '../variables' as *;

.moon {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: rgb(177, 177, 177);
  border-right: 55px solid gray;
  transform: rotate(30deg);
  opacity: 0.7;

  transition-property: opacity, box-shadow;
  transition-duration: 3500ms;
  transition-timing-function: ease-in-out;
}

.spark-moon {
  -webkit-box-shadow: 10px 17px 70px 37px $accent;
  -moz-box-shadow: 10px 17px 70px 37px $accent;
  box-shadow: -5px -3px 50px 1px $accent;
  opacity: 1;

  transition-property: opacity, box-shadow;
  transition-duration: 3500ms;
  transition-timing-function: ease-in-out;
}

.moon-hole-1 {
  top: 40px;
  left: 70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background-color: #707070;

  border-right: solid 7px rgb(85, 85, 85);
  transform: rotate(190deg);
}
.moon-hole-2 {
  top: 180px;
  left: 90px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: #7e7e7e;

  border-right: solid 6px rgb(82, 82, 82);
  transform: rotate(190deg);
}

.moon-hole-3 {
  top: 120px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #808080;

  border-right: solid 5px rgb(94, 94, 94);
  transform: rotate(190deg);
}
.moon-hole-4 {
  top: 50px;
  left: 200px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #4e4e4e;

  border-right: solid 3px rgb(58, 58, 58);
  transform: rotate(190deg);
}
.moon-hole-5 {
  top: 150px;
  left: 210px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: #4e4e4e;

  border-right: solid 2px rgb(66, 66, 66);
  transform: rotate(190deg);
}
.moon-hole-6 {
  top: 110px;
  left: 160px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background-color: #888888;

  border-right: solid 3px rgb(88, 88, 88);
  transform: rotate(190deg);
}

.sun {
  background: linear-gradient(45deg, rgb(241, 222, 115), rgb(230, 139, 66));
  border-right: 0px;
}

@media (max-width: 1024px) {
  .moon {
    transform: scale(0.7) rotate(30deg);
  }
}

@media (max-width: 720px) {
  .moon {
    display: none;
  }
}
