.spark-moon-light-theme {
    -webkit-box-shadow: 10px 17px 70px 37px rgba(255, 207, 124, 1);
    -moz-box-shadow: 10px 17px 70px 37px rgba(255, 207, 124, 1);
    box-shadow: -5px -3px 100px 50px #44ceae92;

    transition: 2500ms all ease-in-out;
    opacity: .2;
}

.no-spark-moon-light-theme {
    box-shadow: none;
    transition: 3000ms all ease-in-out;
    opacity: .3;
}