:root {
  --primary-color: #211337;
  --secondary-color: #ffd698;
  --accent-color: #44cead;
  --accent-color-transparent: #44ceae9f;
  --white: #fff;
  --gray: #c5c5c5;
  --black: #000000;
  --error-color: #f1316e;
  --transition1: 300ms all ease-in-out;
  --transition2: 600ms all ease-in-out;

  --nav-bg: rgba(34, 20, 57, 0.849);
  --white: rgba(255, 255, 255, 0.849);
}
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
$accent-color-transparent: var(--accent-color-transparent);
$white: var(--white);
$gray: var(--gray);
$black: var(--black);
$error-color: var(--error-color);
$transition1: var(--transition1);
$transition2: var(--transition2);

$nav-bg: var(--nav-bg);

h1,
h2,
h3,
h4,
h6 {
  color: $white;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4.5rem;
}

h2 {
  opacity: 0;
  transition-duration: 2000ms;
  transition-property: opacity transform;
  transition-timing-function: ease-in;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3.2rem;
}
.section-title-show {
  opacity: 1;
}

h3 {
  font-weight: 300;
  font-size: 1.8rem;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  position: relative;
  line-height: 1.8rem;
  font-size: 18px;
  color: $gray;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}

a {
  text-decoration: none;
}

.error {
  color: $error-color;
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  h1 {
    font-size: 3.8rem;
  }
}

/* 720px /////////////////////////// */

@media (max-width: 720px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    line-height: 1.6;
  }
}
