.main-nav {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: $nav-bg;

  z-index: 4;
}

.main-nav-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: 80px;
  margin-left: 1rem;
  background-image: url(./assets/LOGO_white.png);
  background-position: center;
  background-size: cover;
}

.logo-img-light {
  background-image: url(./assets/LOGO_black.png);
}

.color-mode {
  flex: 1;
  margin-left: 2rem;
  display: flex;
}

.color-mode li {
  margin: 0 0.5rem;
  padding: 0.5rem;

  border-radius: 50%;
  color: $white;
  display: flex;
  cursor: pointer;
  transition: $transition1;
}

.color-mode li.active {
  -webkit-box-shadow: inset 0px 0px 0px 2px $accent-color;
  -moz-box-shadow: inset 0px 0px 0px 2px $accent-color;
  box-shadow: inset 0px 0px 0px 2px $accent-color;
}

.color-mode-ul {
  margin-top: 0.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  align-self: center;
  color: $white;
  text-decoration: none;
  list-style-type: none;
  padding: 0 2rem;
  font-weight: 600;

  transition: $transition1;
}

.nav-links a:hover {
  color: $accent-color;
}

.nav-links li {
  transition: $transition1;
}
.nav-links li:hover {
  transform: scale(1.1);
}

/* 1440px ////////////////////// */
@media (max-width: 1440px) {
  .nav-links a {
    padding: 0 0.75rem;
  }
}

/* 1024px ////////////////////// */

@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }
}
