.main {
  width: 100%;
  margin-top: 16rem;
  display: grid;
  grid-template-columns: 60% 40%;
}

.main-left {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-text-1 {
  font-weight: 300;
  font-size: 2.5rem;
  color: $white;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.main-text-2 {
  font-weight: 300;
  font-size: 1.8rem;
  color: $gray;
  margin-top: 1rem;
}

.contact-btn {
  margin-top: 3rem;
}

.main-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  .moon {
    transform: scale(0.75);
  }

  .main {
    margin-top: 8rem;
  }
}

/* 720px ////////////////////// */

@media (max-width: 720px) {
  .main {
    margin-top: 6rem;
    grid-template-columns: 1fr;
  }

  .moon {
    display: none;
  }

  .projects-preview {
    margin-top: 5rem;
  }
}
