.main {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.main-left {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-text-1 {
  font-weight: 300;
  font-size: 2.5rem;
  color: $white;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.main-text-2 {
  font-weight: 300;
  font-size: 1.8rem;
  color: $gray;
  margin-top: 1rem;
}

.contact-btn {
  width: fit-content;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.main-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 50% 50%;
  }
}

/* 720px /////////////////////////// */

@media (max-width: 720px) {
  .main {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .projects-preview {
    margin-top: 5rem;
  }

  .main-text-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
