#projects {
  padding-top: 5rem;
  width: 100%;
}

.projects-type {
  font-size: 2.2rem;
  font-weight: 300;
  padding-top: 6rem;
  text-align: center;
}

.projects-type-1 {
  padding-top: 2rem;
}

.project {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-top: 5rem;
}

.commercial-project-views {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 3%;
}

.commercial-project-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.commercial-project-view-heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $accent-color;
  padding-bottom: 0.5rem;
}

.commercial-project-view-text {
  padding-top: 0.5rem;
}

.commercial-project-view-img {
  padding-top: 1rem;
  margin-top: auto;
  width: 100%;
  height: auto;
}

.project-info {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-info h4 {
  cursor: pointer;
  color: $white;
}

.project-info h4:hover {
  color: $accent-color;
}

.project-info-upper-section {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.fullstack-git-links {
  display: flex;
  margin-left: 1rem;
}

.projects-git-link {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  color: $white;
  transform: scale(0.8);
  text-align: center;
}

.projects-git-link:hover {
  color: $accent-color;
}

.project-text {
  color: $gray;
  margin-bottom: 2rem;
}

.programs {
  margin-top: 2rem;
  color: $secondary-color;
  margin-top: auto;
}

.monitor {
  width: calc(100% - 5rem);
  height: 25rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monitor-frame {
  width: 100%;
  height: 90%;
  padding: 0.5rem;
  border: 2px solid $gray;
}

.monitor-screen {
  width: 100%;
  height: 100%;
  border: 1px solid $white;
  box-shadow: 0 0 1px $white, 0 0 2px $white, 0 0 5px $white, 0 0 10px $white;
}

.project-video-link {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;

  transition: 1000ms ease-in-out;
  transition-property: opacity;
  z-index: 2;
}

.project-link-video-show {
  opacity: 1;
}

.project-video {
  height: 100%;
  width: 100%;
}

.video-hover {
  position: absolute;
  background-color: $white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 3;
}

.video-hover h2 {
  font-size: 3rem;
  color: $accent-color;
}

.video-hover:hover {
  opacity: 0.9;
}

.monitor-stand {
  height: 10%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.monitor-stand-vertical {
  height: 80%;
  width: 15%;
  border-left: 2px solid $gray;
  border-right: 2px solid $gray;
}
.monitor-stand-horizontal {
  height: 20%;
  width: 100%;
  border: 2px solid $gray;
}

/* 1440px /////////////////////////// */

@media (max-width: 1440px) {
  .project {
    grid-template-columns: 1fr;
  }

  .project-info {
    height: 100%;
  }

  .monitor {
    width: 75%;
    margin: 1.5rem auto 0 auto;
  }
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  .monitor {
    width: 85%;
  }

  .commercial-project-views {
    grid-template-columns: 100%;
    gap: 3rem;
  }
}

/* 720px ////////////////////// */

@media (max-width: 720px) {
  #projects {
    padding-top: 6rem;
    width: 100%;
  }

  .project {
    margin-top: 5rem;
  }

  .monitor {
    max-width: 500px;
    width: 100%;
    height: 20rem;
  }
}
