#arch-portfolio {
  margin-top: 12rem;
  width: 100%;
}

.condition {
  display: flex;
  align-items: center;
}

.condition h4 {
  margin-left: 2rem;
  font-weight: 300;
}

.condition .if {
  margin-left: 0;
  color: $accent-color;
  font-weight: 700;
}

.orange {
  color: $secondary-color;
}

.accent {
  color: $accent-color;
}

.then {
  margin-left: 4.6rem;
}

.then h4 {
  font-weight: 300;
}

.then h2 {
  margin-left: -0.8rem;
  margin-top: 2rem;
}

.then strong {
  margin-left: -1rem;
}

.arch-images-container {
  position: absolute;
  display: block;
  margin-top: 5rem;
  left: 0vw;
  height: 300px;
  width: 100%;
}

.arch-images {
  position: absolute;
  display: flex;

  filter: grayscale(100%);
  transition: filter 500ms ease-in-out;
  overflow: hidden;
}
.arch-images:hover {
  filter: grayscale(0%);
}

.arch-img {
  width: 500px;
  height: 300px;
  margin: 0 0.3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.arch-images-btn {
  display: none;
}

.arch-images-btn-show {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $accent-color;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  pointer-events: none;
  transition: $transition1;
}

.arch-img1 {
  background-image: url(./assets/1.webp);
}
.arch-img2 {
  background-image: url(./assets/2.webp);
}
.arch-img3 {
  background-image: url(./assets/3.webp);
}
.arch-img4 {
  background-image: url(./assets/4.webp);
}
.arch-img5 {
  background-image: url(./assets/5.webp);
}
.arch-img6 {
  background-image: url(./assets/6.webp);
}
.arch-img7 {
  background-image: url(./assets/7.webp);
}
.arch-img8 {
  background-image: url(./assets/8.webp);
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  #arch-portfolio {
    margin-top: 10rem;
  }

  .condition h4 {
    font-size: 1.5rem;
  }

  .then h4 {
    font-size: 1.5rem;
    margin-left: -0.5rem;
  }
}

/* 720px ////////////////////// */

@media (max-width: 720px) {
  .condition {
    display: block;
  }

  .condition h4 {
    font-size: 1.3rem;
    margin-left: 0;
  }

  .condition .if {
    margin-left: 0;
  }

  .then {
    margin-left: 0;
  }

  .then h4 {
    font-size: 1.3rem;
    margin-left: 0.8rem;
  }

  .then h2 {
    margin-left: -0.8rem;
    margin-top: 3rem;
    font-size: 42px;
  }

  .then strong {
    margin-left: -0.7rem;
  }

  .then h2 {
    margin-left: 0rem;
  }
}
