@use './variables' as *;

.form {
  margin-top: 4rem;
  max-width: 600px;
  width: 100%;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;

  color: $white;
  margin-bottom: 1.5rem;
}

.inputs label {
  margin-bottom: 0.7rem;
}

.inputs input,
textarea {
  background-color: $primary;
  border-radius: 10px;
  outline: none;
  border: 1px solid $secondary;
  color: $white;
  font-weight: 18px;
  transition: $transition1;
}

input,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 1rem 1.5rem;
}

.form-btn {
  margin-top: 1rem;
}

.write-directly {
  margin-top: 2rem;

  a {
    color: $white;
  }
}
