#cv {
    width: 100%;
    margin: 30rem auto 15rem auto;
    padding-top: 10rem;
  }
  
  .cv-btn {
    margin-left: 2rem;
    margin-top: 3rem;
  }

  /* 720px ////////////////////// */

@media (max-width: 720px) {
  #cv {
    margin-top: 35rem;
    margin-bottom: 7rem;
  }

  .cv-title {
    margin-bottom: 2rem;
  }

  .cv-btn {
    margin-left: 0;
  }
}