@use './variables' as *;

#footer {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-items a {
  padding-right: 1.5rem;
  color: $white;
  transition: $transition1;
}

.footer-items a:hover {
  color: $accent;
}

.copyright {
  margin-left: 3rem;
  color: $white;
}

.name {
  margin-left: 1rem;
  color: $white;
}

@media (max-width: 1024px) {
  .copyright {
    margin-left: 0rem;
  }

  .name {
    margin-left: 1rem;
  }
}
