.spacer {
    position: absolute;
    left: 0;
    aspect-ratio: 960 /200;   
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.wave1 {
    background-image: url('./assets/wave1.svg');
}