.commercial-project-views {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 3%;

  .commercial-project-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .h5 {
    padding-bottom: 0.5rem;
  }

  .commercial-project-view-text {
    padding-top: 0.5rem;
  }

  .commercial-project-view-img {
    padding-top: 1rem;
    margin-top: auto;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .commercial-project-views {
    grid-template-columns: 100%;
    gap: 3rem;
  }
}
