:root {
  --primary-color: #211337;
  --secondary-color: #ffd698;
  --accent-color: #44cead;
  --accent-color-transparent: #44ceae9f;
  --white: #fff;
  --gray: #c5c5c5;
  --black: #000000;
  --error: #f1316e;
  --primary-transparent: rgba(34, 20, 57, 0.849);

  --transition1: 300ms all ease-in-out;
  --transition2: 600ms all ease-in-out;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
$accent-color-transparent: var(--accent-color-transparent);
$white: var(--white);
$gray: var(--gray);
$black: var(--black);
$error: var(--error);
$primary-transparent: var(--primary-transparent);

$transition1: var(--transition1);
$transition2: var(--transition2);

h1,
h2,
h3,
h4,
h5,
p,
span {
  color: $white;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  font-weight: 900;
}

h2 {
  opacity: 0;
  transition-duration: 2000ms;
  transition-property: opacity transform;
  transition-timing-function: ease-in;
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  font-weight: 900;
}
.section-title-show {
  opacity: 1;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: $accent-color;
}

p {
  line-height: 1.8rem;
  color: $gray;
}

a {
  color: $white;
  font-weight: 500;
  text-decoration: none;
}

.text-1 {
  font-size: 2.2rem;
}

.error {
  color: $error;
}

/* 1024px /////////////////////////// */

@media (max-width: 1024px) {
  h1 {
    font-size: 3.8rem;
  }
}

/* 720px /////////////////////////// */

@media (max-width: 720px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    line-height: 1.6;
  }

  .text-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
