@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap');
@import './styles/0.variables.scss';
@import './styles/1.navbar.scss';
@import './styles/1.1.burger-menu.scss';
@import './styles/2.main.scss';
@import './styles/3.1.space-background.scss';
@import './styles/3.space-background-light-mode.scss';
@import './styles/4.arrows.scss';
@import './styles/5.projects.scss';
@import './styles/6.interview-tasks.scss';
@import './styles/7.blog.scss';
@import './styles/8.arch-portfolio.scss';
@import './styles/9.cv.scss';
@import './styles/10.1.more-about-me.scss';
@import './styles/10.about-me.scss';
@import './styles/11.contact.scss';
@import './styles/12.footer.scss';
@import './styles/13.thank-you-site.scss';
@import './styles/14.waves.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 18px;
  background-color: $primary-color;
  z-index: -3;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background: $white;
}
body::-webkit-scrollbar-thumb {
  background: $gray;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  background-color: $primary-color;
}

#main-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: $white;
  text-align: center;
  font-weight: 700;
  background-color: transparent;
  border-radius: 30px;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px $accent-color;
  -moz-box-shadow: inset 0px 0px 0px 2px $accent-color;
  box-shadow: inset 0px 0px 0px 2px $accent-color;
  cursor: pointer;
}
.btn:hover {
  color: $primary-color;
  background-color: $accent-color;
  box-shadow: 0 0 5px $accent-color-transparent,
    0 0 30px $accent-color-transparent, 0 0 70px $accent-color-transparent,
    0 0 150px $accent-color-transparent;

  transition: $transition1;
}

.hide {
  display: none;
}

/* 1024px ////////////////////// */

@media (max-width: 1024px) {
  :root {
    font-size: 13px;
  }
}

/* 760px ////////////////////// */

@media (max-width: 720px) {
  :root {
    font-size: 11px;
  }

  .container {
    width: 90%;
  }
}
