:root {
    --primary-color: #211337;
    --accent-color: #44CEAD;
    --white: #fff;
    
    --transition1: 300ms all ease-in-out;
    }

/* STARS */
.stars {
    width: 100vw;
}

.star {
    position: absolute;
    border: 2px solid var(--white);
    border-radius: 50%;
    
}
.star1 {
    left: 10vw; 
    top: 40vh;
}
.star2 {
    left: 8vw;
    top: 15vh;
}
.star3 {
    left: 25vw;
    top: 10vh;
}
.star4 {
    left: 22vw;
    top: 28vh;
}
.star5 {
    left: 40vw;
    top: 6vh;
}
.star6 {
    left: 47vw;
    top: 27vh;
}
.star7 {
    left: 60vw;
    top: 12vh;
}
.star8 {
    left: 67vw;
    top: 30vh;
}
.star9 {
    left: 85vw;
    top: 10vh;
}
.star10 {
    left: 5vw;
    top: 60vh;
}
.star11 {
    left: 21vw;
    top: 70vh;
}
.star12 {
    left: 48vw;
    top: 51vh;
}
.star13 {
    left: 40vw;
    top: 76vh;
}
.star14 {
    left: 90vw;
    top: 37vh;
}
.star15 {
    left: 84vw;
    top: 65vh;
}
.star16 {
    left: 7vw;
    top: 86vh;
}
.star17 {
    left: 27vw;
    top: 94vh;
}
.star18 {
    left: 90vw;
    top: 89vh;
}
.star19 {
    left: 57vw;
    top: 86vh;
}
.star20 {
    left: 73vw;
    top: 82vh;
}

.l {
    height: 25px;
    width: 25px;
    opacity: .4;
}
.m {
    height: 15px;
    width: 15px;
    opacity: .3;
}
.s {
    height: 8px;
    width: 8px;
    opacity: .25;
}

.spark {
    -webkit-box-shadow: 10px 17px 70px 37px var(--accent-color);
    -moz-box-shadow: 10px 17px 70px 37px var(--accent-color);
    box-shadow: 0px 0px 50px 15px var(--accent-color);
    
    transition: 1500ms all ease-in-out;
}
.no-spark {
    box-shadow: none;
    opacity: .1;
    
    transition: 2000ms all ease-in-out;
}

.spark-moon {
    -webkit-box-shadow: 10px 17px 70px 37px #44ceae92;
    -moz-box-shadow: 10px 17px 70px 37px #44ceae92;
    box-shadow: -5px -3px 50px 1px #44ceae92;

    transition: 2500ms all ease-in-out;
    opacity: 1;
}

.no-spark-moon {
    box-shadow: none;
    transition: 3000ms all ease-in-out;
    opacity: .7;
}

@media(max-width: 1440px) {
   .star {
       transform: scale(.7);
   }
}