@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap');

:root {
--primary-color: #211337;
--secondary-color: #FFD698;
--accent-color: #44CEAD;
--white: #fff;
--black: rgb(0, 0, 0);

--transition1: 300ms all ease-in-out;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    background-color:var(--primary-color);
    z-index: -3;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.stars {
    transform-origin: center;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
 
    background-color:var(--primary-color);
}

.main-nav {
    /* top: 0px;
    width: 60%; */
    /* position: fixed;
    z-index: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 80px;
    width: 80px;
    margin-top: 1rem
}

.logo-img-light {
    height: 80px;
    width: 80px;
    padding: .7rem;
    background-color: #44CEAD;
    border-radius: 50%;
    /* transform: scale(1); */
}

.color-mode {
    flex: 1;
    margin-left: 2rem;
}

.color-mode ul {
    display: flex;
}

.color-mode li {
    margin: 0 .5rem;
    padding: .5rem;
    
    border-radius: 50%;
    color: var(--white);
    display: flex;
    cursor: pointer;
    transition: var(--transition1);
}

.color-mode li.active {
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--accent-color);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--accent-color);
    box-shadow:inset 0px 0px 0px 2px var(--accent-color);
}

.nav-links ul {
    display: flex;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
    padding: 0 2rem;
    font-weight: 600;

    transition:var(--transition1) ;
}

.nav-links a:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.main {
    width: 100%;
    margin-top: 16rem;
    display: grid;
    grid-template-columns: 60% 40%;
   
}

.main-left {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-text {
    padding: 3rem 0;
}

.main-left .h3 {
    padding: .5rem 0;
    font-weight: 300;
    font-size: 1.8rem;
}

.btn {
    width: 160px;
    text-align: center;
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    border-radius: 30px;
    font-weight: 700;
}
.btn:hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--accent-color);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--accent-color);
    box-shadow:inset 0px 0px 0px 2px var(--accent-color);

    background-color: transparent;
    transition: var(--transition1);
}

.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MOON */
.moon {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
    border-right:55px solid gray;
    transform: rotate(30deg);
}

.moon::before {
    top: 40px;
    left: 70px;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: #707070;

    border-right: solid 7px rgb(85, 85, 85);
    transform: rotate(190deg);
}
.moon::after {
    top: 180px;
    left: 90px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: #7e7e7e;

    border-right: solid 6px rgb(82, 82, 82);
    transform: rotate(190deg);
}

.moon-holes1 {
    top: 120px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: #808080;

    border-right: solid 5px rgb(94, 94, 94);
    transform: rotate(190deg);
}
.moon-holes2 {
    top: 50px;
    left: 200px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #4e4e4e;

    border-right: solid 3px rgb(58, 58, 58);
    transform: rotate(190deg);
}
.moon-holes3 {
    top: 150px;
    left: 210px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: #4e4e4e;

    border-right: solid 2px rgb(66, 66, 66);
    transform: rotate(190deg);
}
.moon-holes4 {
    top: 110px;
    left: 160px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    background-color: #888888;

    border-right: solid 3px rgb(88, 88, 88);
    transform: rotate(190deg);
}

/* PREVIEW */

.projects-preview {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    display: flex;
    flex-direction: column;
}

.arrows {
    transition: all ease-in-out 1200ms;
}

.arrow {
    position: relative;
}

.arrow2 {
    margin-top: 1rem;
    position: relative;
}

.left {
    position: absolute;
    top: 50px;
    left: 99px;
    width: 150px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: rotate(10deg);
}

.right {
    position: absolute;
    top: 50px;
    right: 99px;
    width: 150px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: rotate(-10deg);
}

.arrow-move {
    transform: translateY(8px);
}

/* PROJECTS */

#projects {
    padding-top: 5rem;
    margin-top: 15rem;
    width: 100%;
}

.project {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 10rem;
}

.project-info h4 {
    margin-bottom: 2rem;
    cursor: pointer;
    color: var(--accent-color);
}

.project-info h4:hover {
    color: var(--white);
}

.programs { 
    margin-top: 2rem;
    color: var(--secondary-color);
}

.project-img {
    border: 2px solid var(--white);
    margin-left: 5rem;
    border-radius: 20px;
    cursor: pointer;
}

.project1 {
    margin-top: 6rem;
}

.projects h6 {
    color: var(--secondary-color);
}

/* ARCH PFOLIO */

#arch-portfolio {
    position: relative;
    padding-top: 5rem;
    margin-top: 15rem;
    width: 100%;
}

.condition {
    display: flex;
    align-items: center;
}

.condition h4 {
    margin-left: 2rem;
    font-weight: 300;
}

.condition .if {
    margin-left: 0;   
    color: var(--accent-color);
    font-weight: 700;
}

.orange {
    color: var(--secondary-color);
}

.accent {
    color: var(--accent-color);
}

.then {
    margin-left: 4.6rem;
}

.then h4 {
    font-weight: 300;
}

.then h2 {
    margin-left: -.8rem;
    margin-top: 8.4rem;
}

.then strong {
    margin-left: -1rem;
}

.arch-images {
    position: absolute;
    top: 350px;
    left: -415px;
    margin: 10rem 0;
   
    display: flex;
    justify-content: space-evenly;
    
    filter: grayscale(100%);
    transition: filter 500ms ease-in-out;
    overflow: hidden;
}

.arch-images:hover {
    filter: grayscale(0%);
}

.check-pdf {
    display: none;
}

.check-pdf  .h3 {
    text-decoration: none;
    padding:1rem  2rem;
    background-color: var(--accent-color);
    border-radius: 40px;
    pointer-events: none;
}

.check-pdf-hover {
    position: absolute;
    top: 620px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition1);
    pointer-events: none;
}

.arch-img {
    padding: 5rem;
    width: 500px;
    height: 300px;
    margin: 0 .3rem;
    cursor: pointer;
}
.arch-img1 {
    background-image: url(/images/1.webp);
    background-position: center;
    background-size: contain;
}
.arch-img2 {
    background-image: url(/images/2.webp);
    background-position: center;
    background-size: contain;
}
.arch-img3 {
    background-image: url(/images/3.webp);
    background-position: center;
    background-size: contain;
}
.arch-img4 {
    background-image: url(/images/4.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.arch-img5 {
    background-image: url(/images/5.webp);
    background-position: center;
    background-size: contain;
}
.arch-img6 {
    background-image: url(/images/6.webp);
    background-position: center;
    background-size: contain;
}
.arch-img7 {
    background-image: url(/images/7.webp);
    background-position: center;
    background-size: contain;
}
.arch-img8 {
    background-image: url(/images/8.webp);
    background-position: center;
    background-size: contain;
}

/* ABOUT ME */

#about-me {
    width: 100%;
    margin: 39rem auto;
    padding-top: 15rem;
}

.about-me-content {
    display: grid;
    grid-template-columns: 60% 40%;
}

.left-col {
    padding-right: 5rem;
}

.left-col h2 {
    margin-bottom: 2rem;
}

.about-me-btn {
    margin-top: 2rem;
}

.my-picture {
    background-image: url(/images/my-image.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--secondary-color);
}    
   
/* MORE ABOUT ME */

.specific-content {
    width: 100%;
    margin: 10rem auto;
    height: 100px;
    background-color: #44CEAD;
}

/* CONTACT */

#contact {
    margin:25rem auto 0 auto;
    width: 100%;
}

.form {
    margin-top: 4rem;
    width: 60%;
}

.inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    
    color: var(--white);
    margin-bottom: 1.5rem;
}

.inputs label {
    margin-bottom: .7rem;
}

.inputs input, textarea {
    background-color: var(--primary-color);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--secondary-color);
    color: var(--white);
    font-weight: 18px;
    transition: var(--transition1);
}

input, select, textarea  {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 1rem 1.5rem;
}

.form-btn {
    margin-top: 1rem;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 18px;
}

/* THANK YOU SITE */

.thankyou-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}

.thankyou-container .h4 {
    color: var(--accent-color);
}

/* FOOTER */

#footer {
    margin-top: 10rem;
    margin-bottom: -2rem;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-items a {
    padding-right: 1.5rem;
    color: var(--white);
    transition: var(--transition1);
}

.footer-items a:hover {
    color: var(--accent-color);
}

.footer-items p {
    margin-left: 3rem;
    color: var(--white);
}

.footer-items .p2 {
    margin-left: 1rem;
    color: var(--white);
}

/* NAVBAR SMOOTH SCROOL */





/* 
@media(max-width: 1780px) {
    .stars {
        transform: scale(0.75, 0.9);
    }
}
@media(max-width: 1580px) {
    .stars {
        transform: scale(0.65, 0.8);
    }
}
@media(max-width: 1280px) {
    .stars {
        top: 200px;
        transform: scale(0.5);
    }
    .moon {
        transform: scale(0.75);
    }
}
@media(max-width: 1020px) {
    .stars {
        top: 200px;
        transform: scale(0.3);
    }
    .logo-img {
        display: none;
    }
} */